SERPAPI_API_KEY=your_serpapi_key_here
LITEAPI_API_KEY=your_liteapi_sandbox_key_here
LITEAPI_PRODUCTION_API_KEY=your_liteapi_production_key_here
LITEAPI_ENV=production
KIWI_TEQUILA_API_KEY=your_kiwi_tequila_key_here
DUFFEL_API_TOKEN=your_duffel_token_here
AMADEUS_CLIENT_ID=your_amadeus_client_id_here
AMADEUS_CLIENT_SECRET=your_amadeus_client_secret_here
GOOGLE_MAPS_API_KEY=your_google_maps_key_here
